.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
  margin-bottom: 48px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all var(--td) var(--ttf);
}
.item:hover {
  transform: scale(1.05);
}