.modal {
  top: string;
  left: string;
  right: string;
  bottom: string;
  transform: string;
  border: string;
  padding: number;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  
}

.thumb {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}

.image {
  height: 500px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}


.likes {
  display: flex;
  align-items: center;
  gap: 4px;
}