.modal {
  top: string;
  left: string;
  right: string;
  bottom: string;
  transform: string;
  border: string;
  padding: number;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  
}

.image {
  height: 500px;
}

