.btn {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 42px;
  border-radius: 10px;
  background-color: lightgray;
  border: 1px solid grey;
}
.btn:focus{
  transform: scale(1.1);
}
.btn:hover {
  transform: scale(1.2);
}